a.author,a.bookname{  text-decoration: none;  }
a.author:hover,a.bookname:hover{ text-decoration: underline; }
a.more{  text-decoration: none;  padding: 0 3px;  border-radius: 4px;  color: #5e5e5e;
    font-size: 10px;float: right;line-height: 21px;  }
a.more:hover{  color: #ffffff;  background-color: #2e9ad0;  }

.category_block{ width: 300px;  border-top: 4px #FF6D00 solid;  background-color: #ffffff}
.item_content{  border: 1px #eeeeee solid;  border-top: none;  padding: 0 18px;  }
.item_top{  padding: 10px 0;  border-bottom: 1px solid #eeeeee;  }
.top_categoryname{font-size: 16px;font-family: 'Microsoft YaHei', arial, sans-serif;color: #262b86}
.booklist{  padding: 20px 0;  font-family: 'Microsoft YaHei';font-size: 16px;  }
.bookname{  color: #000000; margin-right: 6px  }
.author{  color: #00BFA5;  }
.rank-digit{  display: inline-block;  width: 18px;  font-size: 12px;
    height: 14px;  line-height: 14px;  text-align: center;
    border-radius: 5px;  color: #ffffff;  background-color: #dcdcdc;
    margin-right: 6px;
}


ul.booklist li:nth-child(1) .rank-digit{
    background-color: #FF6D00;
}
ul.booklist li:nth-child(2) .rank-digit{
    background-color: #FF9100;
}
ul.booklist li:nth-child(3) .rank-digit{
    background-color: #FFAB40;
}
#left>li:nth-child(3n+2) .category_block{
    border-color: #00BFA5;
}
#left>li:nth-child(3n+2) ul.booklist li:nth-child(1) .rank-digit{
    background-color: #00BFA5;
}
#left>li:nth-child(3n+2) ul.booklist li:nth-child(2) .rank-digit{
    background-color: #1DE9B6;
}
#left>li:nth-child(3n+2) ul.booklist li:nth-child(3) .rank-digit{
    background-color: #64FFDA;
}
#left>li:nth-child(3n+3) .category_block{
    border-color: #00B8D4;
}
#left>li:nth-child(3n+3) ul.booklist li:nth-child(1) .rank-digit{
    background-color: #00B8D4;
}
#left>li:nth-child(3n+3) ul.booklist li:nth-child(2) .rank-digit{
    background-color: #00E5FF;
}
#left>li:nth-child(3n+3) ul.booklist li:nth-child(3) .rank-digit{
    background-color: #18FFFF;
}

#left>li{ margin-bottom: 20px;float: left}

#left>li:nth-child(2n){
    margin-left: 20px;
}

/*100强*/
#left_top>li{
    margin-bottom: 20px;
}
#left_top .block{
    width: 620px;border-top: 4px solid #dcdcdc;background-color: #ffffff;
}
#left_top .item_bottom{
    height: 231px;margin: 10px 0;overflow: hidden
}
#left_top a.right_a{
    width: 128px;border-radius: 5px;
}
#left_top .right_a:nth-child(4n){
    margin-right: 0px;
    width: 131px;
}
#left_top #item_content{
    transition-property: margin-left;
    transition-duration: .5s;
    transition-timing-function: linear;}

/*100强右上角*/
.slide-controls{
    float: right;margin-top: -18px;
}
.slide-dots{
    display: inline-block;vertical-align: middle;margin-right: 5px;
}

.slide-dots a{
    display: inline-block;  background-color: rgba(0,0,0,0.1);  margin-left: 6px;
    height: 5px;width: 5px;  border-radius: 5px;
}
.slide-dots li{
    display: inline;height: 5px;
}
.slide-dots .active{
    background-color: rgba(0,0,0,0.3);
}
.slide-btns{
    display: inline-block;
}
.slide-btns a{
    display: inline-block;height: 18px;width: 18px;margin-left: 6px;text-align: center;
    font-size: 16px;color: #ffffff;line-height: 16px;border-radius: 200px;
    background-color: rgba(0,0,0,0.3);
}
.slide-btns a:hover{
    background-color: rgba(0,0,0,0.2);
}