<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>留言反馈_liulangcat</title>
    <link rel="stylesheet" href="Public/css/message.css">
    <script src="Public/lib/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div class="w980">
        <div class="t"><a href="http://liulangcat.com">liulangcat</a></div>
        <div class="c clearfix">
            <div class="l">
                <p style="line-height: 32px;padding-left: 6px;color: #999;">共6条留言</p>
                <ul class="message-list">
                    <li>
                        <h3 class="title">菜根谭前面有遗漏</h3>
                        <div class="content">参考一：http://www.liulangcat.com/gdwx/51005.html参考二：http://www.theqi.com/buddhism/tsai1.html而且繁体字有些会同原文不一致，不知道是自动转码，还是字体缺字而用了异体字。</div>
                        <div class="meta">2017年05月13日 周六 18点33分</div>
                    </li>
                    <li>
                        <h3 class="title">菜根谭前面有遗漏</h3>
                        <div class="content">参考一：http://www.liulangcat.com/gdwx/51005.html参考二：http://www.theqi.com/buddhism/tsai1.html而且繁体字有些会同原文不一致，不知道是自动转码，还是字体缺字而用了异体字。</div>
                        <div class="meta">2017年05月13日 周六 18点33分</div>
                        <div class="reply"><span>回复：</span>感谢您的及时反馈！已经开始着手重做《菜根谭》相关页面。若您发现哪里与原文有出入或其他问题，欢迎指正，感谢支持！</div>
                    </li>
                    <li>
                        <h3 class="title">菜根谭前面有遗漏</h3>
                        <div class="content">参考一：http://www.liulangcat.com/gdwx/51005.html参考二：http://www.theqi.com/buddhism/tsai1.html而且繁体字有些会同原文不一致，不知道是自动转码，还是字体缺字而用了异体字。</div>
                        <div class="meta">2017年05月13日 周六 18点33分</div>
                    </li>
                    <li>
                        <h3 class="title">菜根谭前面有遗漏</h3>
                        <div class="content">参考一：http://www.liulangcat.com/gdwx/51005.html参考二：http://www.theqi.com/buddhism/tsai1.html而且繁体字有些会同原文不一致，不知道是自动转码，还是字体缺字而用了异体字。</div>
                        <div class="meta">2017年05月13日 周六 18点33分</div>
                    </li>
                    <li>
                        <h3 class="title">菜根谭前面有遗漏</h3>
                        <div class="content">参考一：http://www.liulangcat.com/gdwx/51005.html参考二：http://www.theqi.com/buddhism/tsai1.html而且繁体字有些会同原文不一致，不知道是自动转码，还是字体缺字而用了异体字。</div>
                        <div class="meta">2017年05月13日 周六 18点33分</div>
                    </li>
                </ul>
                <div class="more"><a>更多...</a></div>
            </div>
            <div class="r">
                <form action="msg_submit.php" method="post">
                    <label for="title">标题/昵称/联系方式</label><br>
                    <input name="title" id="title"><br>
                    <label for="content">留言内容</label><br>
                    <textarea name="content" id="content"></textarea><br>
                    <input type="submit" value="提交留言">
                </form>
            </div>
        </div>
    </div>
    <script>
        $(function() {
//            function s(){
//                var top = $(document.body).scrollTop();
//                top = top<55?top:55;
//                $(".t>a").css("margin-left",-2*top);
//            }
//            s();
//            // 滚动条滚动的函数
//            $(window).scroll(s);
        });
    </script>
</body>
</html>